.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  .card {
    position: relative;
    height: 480px;
    width: 320px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    .border {
      position: absolute;
      left: 0;
      height: 480px;
      z-index: 100;
      path {
        stroke: #2EA8E6;
      }

      &.active {
        path {
          stroke: #D91667;
        }
      }
    }
    img {
      height: 475px;
      width: 319px;
      border-radius: 12px;
      top: 4px;
      left: 1px;
      position: absolute;
      z-index: -1;
    }
    .text {
      position: relative;
      margin-top: 21px;
      h4 {
        color: #666666;
        font-size: 16px;
        font-weight: 400;
      }
      h2 {
        font-size: 48px;
        font-weight: 800;
      }
      h3 {
        font-size: 24px;
        font-weight: 800;
      }
      .gift {
        margin-top: 15px;
        font-size: 14px;
        font-weight: 400;
        color: #666666;
        max-width: 127px;
        word-break: break-word;
        span {
          font-weight: 800;
        }
      }
    }

    .size {
      color: white;
      border-radius: 100%;
      background-color: #2EA8E6;
      width: 80px;
      height: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      align-self: end;
      margin: 16px;
      h2 {
        font-size: 42px;
      }
      span {
        margin-top: -10px;
        font-size: 21px;
      }
    }

    .lightBack {
      position: absolute;
      width: 315px;
      height: 480px;
      display: none;
    }
  }

  .additionalInfo {
    color: white;
    font-size: 13px;
    font-weight: 400;
    span {
      font-weight: 800;
      color: #2EA8E6;
      border-bottom: 2px dashed #2EA8E6;
      cursor: pointer;
    }
  }

  &.disabled {
    user-select: none;
    .card {
      cursor: default;
      .border {
        path {
          stroke: #B3B3B3;
        }
      }

      .size {
        background-color: #B3B3B3;
      }

      .lightBack {
        display: block;
      }
    }

    .additionalInfo {
      color: #FFFF66;
    }
  }
}