body {
    background-image: url("./assets/images/Pattern.png");
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: 'Exo2Thin', sans-serif;
    font-weight: 100;
    color: white;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 100vh;
    height: 100vh;
    justify-content: center;
    gap: 24px;
}

.App > .Cards {
    display: flex;
    gap: 80px;
}