@font-face {
  font-family: "Exo2Thin";
  src: url("./assets/fonts/exo2_0_extralight.otf");
  font-style: normal;
  font-weight: 100;
}

@font-face {
  src: url("./assets/fonts/trebuchetms.ttf");
  font-family: "Trebuchet MS", sans-serif;
  font-weight: 400;
}
@font-face {
  src: url("./assets/fonts/TrebuchetMS-Bold.ttf");
  font-family: "Trebuchet MS", sans-serif;
  font-weight: 800;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", sans-serif;
}